/URL_rewriting/nbproject/private/
/URL_rewriting/build/
/JSP_Demo/nbproject/private/
/JSP_Demo/build/
/ErrorHandlingDemo/nbproject/private/
/ErrorHandlingDemo/build/
/FilterDemo/nbproject/private/
/FilterDemo/build/
/JSTLExample/nbproject/private/
/JSTLExample/build/
/Practice_servlet/nbproject/private/
/Practice_servlet/build/
/JSTL_Example/nbproject/private/
/JSTL_Example/build/
/TechnicalBlog/nbproject/private/
/TechnicalBlog/build/
